.grand-parent {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

.parent {
    width: 200px;
    margin: 25px 10px;
    height: 150px;
    border: 1px solid black;
}

.child {
    width: 100px;
    margin: 25px 40px;
    height: 100px;
    border: 1px solid black;
}